{% extends 'layout.html' %}
{% block title %}Escolha seu evento{% endblock %}
{% block content %}
    <div class="div-evento">
        <h2>ESCOLHA O SEU EVENTO:</h2>
        <div class="opcoes">
            <form action="{{ url_for('submit') }}" method="GET">
                <h2> Opções Disponíveis </h2>
                <div class="selecionar">
                    <select name="opcao" id="opcao">
                        <option value="Piscina">Casa com Piscina</option>
                        <option value="Churrasco">Churrasco</option>
                    </select>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
