{% extends 'layout.html' %}
{% block title %}Gráfico{% endblock %}
{% block content %}

    <div class="cab">
        <h1>PSIF</h1>
        <p>Plataforma de Simulação de Investimentos para Formatura</p>
    </div>
        {% if current_user.is_authenticated %}
            <a href="/juros"><button class="btn btn-light">Começar Simulação</button></a>
        {% else %}
    <a href="{{ url_for('login' ) }}" ><button class="btn btn-light">LOGIN</button></a>
    <a href="{{ url_for('cadastro' ) }}"><button class="btn btn-light">CADASTRO</button></a>
        {% endif %}

{% endblock %}