{% extends 'layout.html' %}
{% block title %}Simulação de Juros e Planilha{% endblock %}
{% block content %}
<div class="content-juros">
    <div class="box-juros">
        <div class="result">
            <h5>Simulação de Juros Compostos e Criação de Planilha</h5>
            <form method="post" class="form-container" id="calculationForm">
                <div class="form-group">
                    <label class="informações" for="objetivo">Objetivo (R$):</label>
                    <input type="text" id="objetivo" name="objetivo" class="form-control" required value="{{ objetivo }}">
                </div>
                <div class="form-group">
                    <label class="informações" for="taxa">Taxa de Juros (% ao ano):</label>
                    <input type="text" id="taxa" name="taxa" class="form-control" required value="{{ taxa_juros }}">
                </div>
                <div class="form-group">
                    <label class="informações" for="pessoas">Número de Pessoas:</label>
                    <input type="text" id="pessoas" name="pessoas" class="form-control" required value="{{ num_participantes }}">
                </div>
                <div class="form-group">
                    <label class="informações" for="descricao">Descrição da Planilha:</label>
                    <input type="text" id="descricao" name="descricao" class="form-control" required value="{{ descricao }}">
                </div>
                <div class="form-group">
                    <label class="informações" for="data_ini">Data de Início:</label>
                    <input type="date" id="data_ini" name="data_ini" class="form-control" required value="{{ data_ini }}">
                </div>
                <div class="form-group">
                    <label class="informações" for="data_fim">Data de Fim:</label>
                    <input type="date" id="data_fim" name="data_fim" class="form-control" required value="{{ data_fim }}">
                </div>
                <button type="submit" class="button" id="calculateButton">Calcular</button>
            </form>
        </div>

        <div class="result-2">
            {% if montante_acumulado is not none %}
            <h5>Simulação de Rendimento</h5>
            <p>Objetivo: R$ {{ objetivo }}</p>
            <p>Taxa de Juros: {{ taxa_juros }}% ao ano</p>
            <p>Período: {{ periodo_meses }} meses</p>
            <p>Mensalidade Total: R$ {{ mensalidade_total }}</p>
            <p>Mensalidade por Pessoa: R$ {{ mensalidade_por_pessoa }}</p>
            <p>Montante Acumulado após Rendimento: R$ {{ montante_acumulado }}</p>
            <form class="form-container" method="post" action="{{ url_for('juros_e_planilha') }}">
                <input type="hidden" name="objetivo" value="{{ objetivo }}">
                <input type="hidden" name="taxa" value="{{ taxa_juros }}">
                <input type="hidden" name="periodo" value="{{ periodo_meses }}">
                <input type="hidden" name="pessoas" value="{{ num_participantes }}">
                <input type="hidden" name="descricao" value="{{ descricao }}">
                <input type="hidden" name="data_ini" value="{{ data_ini }}">
                <input type="hidden" name="data_fim" value="{{ data_fim }}">
                <button type="submit" name="criar_planilha" class="button">Criar Planilha</button>
            </form>
            {% endif %} 
            <br>
            <p>Esses valores não são uma garantia de rentabilidade futura, mas uma estimativa projetada usando a taxa do CDI de hoje para todo o período em que seu depósito permanecer na conta. Podem ocorrer variações de acordo com a quantia e a taxa do CDI em cada data de depósito.</p>
        </div>
    </div>
</div>
{% endblock %}