/* RESET E CONFIGURAÇÕES GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  width: 100%;
  height: 100vh;
}

.container-fluid {
  background-color: #0d0f2e;
}
.container-fluid .navbar-brand{
  color: white;
}

#navbarNav .nav-link{
  color: white;
}
  

.container-principal{
  width: 100%;
  height: 100%;
  background-color:white;
}

.login-container{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.form-3{
  width: 40%;
}



/* PÁGINA SIMULAÇÃO - simulaão de juros compostos e criação de planilha */

.content .content-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items:center;
}
.content-wrapper{
  gap: 8rem;
}

.content-wrapper .result-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252642;
  color: white;
  height: 50vh;
  width: 30vw;
  gap: 3rem;
  border-radius: 8px;
  margin-top: 6rem;
  box-shadow: 0px 4px 4px 0px gray;
}

.result-box .form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.result-box .button{
  background-color: white;
  border: none;
  border-radius: 5px;
  height: 2rem;
  width: 5rem;
  gap: 3rem;
  align-self: center;
}

.button:hover{
  border: 2px solid white;
  background-color: #0d0f2e;
  color: white;
}

.content-wrapper .resultados{
  display: flex;
  justify-content:center;
  align-items: last baseline;
  flex-direction: column;
  background-color:#cecfd5;
  box-shadow: 0px 4px 4px 0px gray;
  color: #0d0f2e;
  text-align: justify;
  width:60vh;
  height: 50vh;
  margin-top: 6rem;
  border-radius: 8px;
  padding: 8px;
}


/*------------------ SIMULAÇÃO SEM RENDIMENTO  */



/* -----------------PÁGINA EVENTOS - cadastrar novo evento */

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h3{
  margin: 1rem 0rem 1rem 0rem;
}

.content-event{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 63vh;
  width: 32.5vw;
  background-color: #cecfd5;
  border-radius: 8px;

}

.event-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.event-form input{
  border: none;
  border-radius: 4px;
  width: 15rem;
  height: 2rem;
}

.event-form .but-event{
  display: flex;
  align-self: center;
  justify-content: center;
  justify-items: center;
  background-color:#0d0f2e;
  color: white;
  border-radius: 4px;
  border: none;
  height: 2rem;
  width: 10rem;
  margin: 10px 0px 10px;
}

.event-form .but-event:hover{
  background-color: aliceblue;
  border: 2px solid #0d0f2e;
  color: #0d0f2e;
}

.content .voltar{
  width: 8rem;
  height: 2rem;
  background-color: white;
  border: 2px solid #0d0f2e;
}


/* ------------------------------------PLANILHAS */
.planilhas-conteiner{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0rem 0rem 0rem;
}

.planilhas-conteiner form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 60vh;
  background-color: #cecfd5;
  gap: 1rem;
  margin: 1rem 0rem 0rem 0rem;
  border-radius: 8px;
}

form input{
  border: none;
  border-radius: 4px;
  width: 13rem;
  height: 1.5rem;
}

form .botao-planilha{
  background-color: #252642;
  color: white;
  width: 10rem;
}

.botao-planilha:hover{
  background-color: white;
  border: 2px solid #0d0f2e;
  color: #0d0f2e;

}


/* ------------------------JUROS E PLANILHA */

.content-juros .box-juros{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 3rem 0rem 0rem 0rem;
}

.result h5{
  margin: 0rem 0rem 2.5rem 0rem;
}

.box-juros .result{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #cecfd5;
  width: 40vw;
  height: 73vh;
  padding: 8px;
  border-radius: 8px;
}

.form-container .button{
  background-color: #0d0f2e;
  color: white;
  border: none;
  border-radius: 4px;
  width: 10rem;
  margin: 1rem 0rem 0rem 0rem;
  align-self: center;
}

.button:hover{
  background-color: white;
  border: 2px solid #0d0f2e;
  color: #0d0f2e;
}

.box-juros .result-2{
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  background-color: #cecfd5;
  width: 40vw;
  height: 73vh;
  text-align: justify;
  padding: 8px;
  border-radius: 8px;
}










