{% extends 'layout.html' %}
{% block title %} {{nome_evento}} {% endblock %}
{% block content %}

    <div class="content">
        <section>
            <h2>Bem-vindo ao evento de {{ nome_evento }}</h2>

            {% if nome_evento == 'Piscina' %}
                <p>Prepare-se para um dia relaxante na piscina!</p>
                <img src="#" alt="piscina">
            {% elif nome_evento == 'Churrasco' %}
                <p>Venha curtir um delicioso churrasco com a gente!</p>
                <img src="#" alt="churrasco">
            {% else %}
                <p>Evento não especificado.</p>
                <img src="#" alt="Error">
            {% endif %}
        </section>
        <button><a href="/evento">Escolher Outro Evento</a></button>
    </div>
{% endblock %}