{% extends 'layout.html' %}

{% block title %}Planilha{% endblock %}

{% block content %}
<form action="/planilhas" method="POST">
    Título: <input type="text" name="descricao" required>
    Objetivo: <input type="number" name="objetivo" required>
    Data de Início: <input type="date" name="data_ini" required>
    Data de Fim: <input type="date" name="data_fim" required>
    <input type="submit" value="Cadastrar">
</form>

{% for p in planilhas %}
    <div>
        <a href="{{ url_for('planilha', id=p.id) }}">{{p.id}}
        {{p.descricao}}
        {{p.objetivo}}
        {{p.data_ini}}
        {{p.data_fim}}</a>
        <form action="{{ url_for('excluir_planilha', id_planilha=p.id) }}" method="post">
            <button type="submit" class="btn-excluir" onclick="return confirm('Tem certeza que deseja excluir esta Planilha?')">Excluir</button>
        </form>
    </div>
{% endfor %}
{% endblock %}