{% extends 'layout.html' %}
{% block title %}Simulação Sem Rendimentos{% endblock %}
{% block content %}
<div class="content">
    <div class="content-wrapper">
        <div class="result-box">
            <h2>Simulação Sem Rendimentos</h2>
            <form method="post" class="form-container" id="calculationForm">
                <div class="form-group">
                    <label class="informações" for="objetivo">Objetivo (R$):</label>
                    <input type="text" id="objetivo" name="objetivo" class="form-control" required value="{{ objetivo }}">
                </div>
                <div class="form-group">
                    <label class="informações" for="num_parcelas">Quantidade de Parcelas (meses):</label>
                    <input type="text" id="num_parcelas" name="num_parcelas" class="form-control" required value="{{ num_parcelas }}">
                </div>
                <div class="form-group">
                    <label class="informações" for="num_participantes">Quantidade de Participantes:</label>
                    <input type="text" id="num_participantes" name="num_participantes" class="form-control" required value="{{ num_participantes }}">
                </div>
                <button type="submit" class="button" id="calculateButton">Calcular</button>
            </form>
        </div>

        
        <div class="resultados">
            {% if montante_acumulado is not none %}
            <h5>Simulação de Rendimento</h5>
            <p>Objetivo: R$ {{ objetivo }}</p>
            <p>Quantidade de parcelas (meses): {{ num_parcelas }}</p>
            <p>Mensalidade Total: R$ {{ mensalidade_total }}</p>
            <p>Mensalidade por Participante: R$ {{ mensalidade_por_participante }}</p>
            {% endif %} 
            <br>

        </div>            
    </div>
</div>


{% endblock %}
